<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog of tha day</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div id="app">
    <h1 style="text-align:center;text-transform:uppercase;text-shadow:2px 2px 5px yellow">
        Click EVERY button in ORDER to see the Dog of the Day!
    </h1>

    <button @click="stepOne" : disabled="!step2Done">Step 1: Prepare</button>
    <button @click="stepTwo">Step 2: Authorise</button>
    <button @click="fetchDog" :disabled="!ready">FINALLY, GET THE DOG</button>

    <div v-if="dogUrl" style="text-align:center">
        <label for="zoomSlider">Zoom to 100 to reveal:</label>
        <input id="zoomSlider" type="range" min="0" max="100" v-model="zoom">
    </div>

    <div v-if="zoom==100" class="dog-frame">
        <img :src="dogUrl" style="width:100%;height:100%;object-fit:cover">
    </div>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
    const { createApp } = Vue;

    createApp({
        data(){
            return{
                step2Done:false,
                ready:false,
                dogUrl:'',
                zoom:0
            };
        },
        methods:{
            stepTwo(){
                this.step2Done = true;
                alert('NOW go back to st')
            }
        }
    })
</script>
</body>
</html>